# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Subversion
.svn/

# Project
/Entitlements.plist
Pods/
Leanote.xcworkspace/*.mode1v3
Leanote.xcworkspace/*.mode2v3
Leanote.xcworkspace/*.pbxuser
Leanote.xcworkspace/*.perspectivev3
Leanote.xcworkspace/*.xcuserdata
Leanote.xcworkspace/project.xcworkspace
Leanote.xcworkspace/xcuserdata
Leanote.xcworkspace/xcshareddata/Leanote.xccheckout
Leanote/Entitlements.plist
Leanote/Leanote.xcodeproj/*.mode1v3
Leanote/Leanote.xcodeproj/*.mode2v3
Leanote/Leanote.xcodeproj/*.pbxuser
Leanote/Leanote.xcodeproj/*.perspectivev3
Leanote/Leanote.xcodeproj/project.xcworkspace
Leanote/Leanote.xcodeproj/xcuserdata
/build
.hockey_app_credentials
Leanote/InfoPlist.h
# coverage.py
*/CoverageData/*